.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hidden{
  display: none;
}

.not-loading{
  display: none;
}

.loading{
  width: 300px;
  height: 70px;
  background-color: #282c34;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
}
.h1{
  color: white;
}
.underline{
  border-bottom: 3px solid black;
  padding: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.no-underline{
  border: none;
  padding: 0;
margin: 0;
}

.no-show{
  display: none;
}
.loading-design{
  text-align: center;
  font-size: 2.3rem;
  color: dodgerblue;
}
.loading-design1{
  text-align: center;
  font-size: 2.3rem;
  color: dodgerblue;
}
.invalid{
  border: 1px solid red;
  padding: 2%;
  width: 270px;
  color: gray;
}


.no-show{
  display: none;
}

.show-input{
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px;
}

.show-post{
padding: 4px;
height: 100px;
display: flex;
flex-direction: row;
width: 100%;
}

.show{
}


.inputs{
  width: 70%;
margin: 2%;
border-radius: 5px;
border: 1px solid white;
height: 40px;
}

.signout{
  background-color: #282c34;
  color: #C3C5CA;
  padding: 5px 10px 5px 10px;
  border: 1px solid #282c34;
  
}
.signout:hover{
  border: 1px solid #C3C5CA;
}

.posts{
  border: 1px solid red;
}

.edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}


.save-btn{
  background-color: #0F9D58;
  border: 1px solid #0F9D58;
  color: white;
  width: 50px;
  padding:3px;
  margin-right: 10px;
}
.cancel-btn{
 background-color: #535150;
  border: 1px solid #535150;
  color: white;
  padding:3px;
  width: 50px;


  
}
.delete-btn{
 background-color: #DB4437;
  border: 1px solid #DB4437;
  color: white;
  padding:3px;
  width: 50px;




}